# Time Series

In [5]:
import pandas as pd
import numpy as np
from datetime import datetime

In [6]:
date = datetime(2014, 12, 15)

In [7]:
date

datetime.datetime(2014, 12, 15, 0, 0)

In [8]:
date_with_hour_minutes = datetime(2014, 12, 15, 17, 30)

In [9]:
date_with_hour_minutes

datetime.datetime(2014, 12, 15, 17, 30)

In [20]:
class dt:
    
    def __init__(self, y, m , d, h , mm):
        self. year = y
        self.month = m
        self.day = d
        self.hour = h
        self. minute = mm

In [21]:
dd = dt(2015,12,31,12,50)

In [22]:
dd.year

2015

In [23]:
dd.minute

50

In [49]:
date_today = datetime.now()

In [50]:
date_today

datetime.datetime(2023, 2, 19, 15, 31, 0, 405117)

# Pandas TimeStamp Object

In [51]:
pandas_date = pd.Timestamp('2014-12-15')

In [52]:
pandas_date

Timestamp('2014-12-15 00:00:00')

In [56]:
# Adds time time to datenow
pandas_time = pd.Timestamp('17:30')

In [57]:
pandas_time

Timestamp('2023-02-19 17:30:00')

In [59]:
pandas_current_date_time  = pd.Timestamp("now")

In [60]:
pandas_current_date_time

Timestamp('2023-02-19 15:38:32.892506')

In [61]:
pd.Timestamp.now()

Timestamp('2023-02-19 15:39:36.346641')

# Time Delta to create difference in two timestamps

In [63]:
today = datetime(2014, 11, 30)

tomorrow = today + pd.Timedelta(days=1)
tomorrow

datetime.datetime(2014, 12, 1, 0, 0)

In [64]:
today = datetime(2014, 12, 31)

tomorrow = today + pd.Timedelta(days=1)
tomorrow

datetime.datetime(2015, 1, 1, 0, 0)

In [75]:
date1 = datetime(2014, 12, 10)

date2 = datetime(2014, 11, 28)

date1 - date2

datetime.timedelta(days=12)

In [66]:
date2 - date1

datetime.timedelta(days=-4)

In [73]:
days_7 = pd.Timedelta(weeks=1)

In [74]:
date1 + days_7

datetime.datetime(2014, 12, 9, 0, 0)

In [77]:
date1 - days_7

datetime.datetime(2014, 12, 3, 0, 0)

In [78]:
days_7 = pd.Timedelta(weeks=-1)

In [80]:
date1 - days_7

datetime.datetime(2014, 12, 17, 0, 0)

# DatetimeIndex
Sequences of timestamp objects are represented by pandas as DatetimeIndex,
which is a type of pandas index that is optimized for indexing by date and time.
There are several ways to create DatetimeIndex objects in pandas. The following
creates a DateTimeindex by passing a list of datetime objects as Series:

In [81]:
dates = [datetime(2014, 8, 1), datetime(2014, 8, 2)]

In [82]:
ts = pd.Series(np.random.randn(2), dates)
ts

2014-08-01   -0.753556
2014-08-02    1.020641
dtype: float64

In [91]:
ts.index

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [93]:
ts.values

array([-0.75355619,  1.02064133])

In [88]:
S = pd.Series([1,2,3,4],index=[22,33,44,55])

In [89]:
S.values

array([1, 2, 3, 4], dtype=int64)

In [90]:
S.index

Int64Index([22, 33, 44, 55], dtype='int64')

In [92]:
S = pd.Series([1,2,3,4])
S.index

RangeIndex(start=0, stop=4, step=1)

In [94]:
#convert a sequence of objects to a DatetimeIndex

dti = pd.to_datetime(['Aug 1, 2014','2014-08-02','2014.8.3',None])
dti

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', 'NaT'], dtype='datetime64[ns]', freq=None)

In [95]:
pd.to_datetime('Aug 1, 2014')

Timestamp('2014-08-01 00:00:00')

In [96]:
for l in dti: 
    print (l)

2014-08-01 00:00:00
2014-08-02 00:00:00
2014-08-03 00:00:00
NaT

In [101]:
pd.to_datetime(['Aug 1, 2014', None])

DatetimeIndex(['2014-08-01', 'NaT'], dtype='datetime64[ns]', freq=None)

# Date Range

In [103]:
periods = pd.date_range('8/1/2014', periods=10)

In [104]:
np.random.seed(123456)
date_series = pd.Series(np.random.randn(10), index=periods)
date_series

2014-08-01    0.469112
2014-08-02   -0.282863
2014-08-03   -1.509059
2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
2014-08-08   -1.044236
2014-08-09   -0.861849
2014-08-10   -2.104569
Freq: D, dtype: float64

In [105]:
periods = pd.date_range('8/1/2014', periods=10,freq="W")
np.random.seed(123456)
date_series = pd.Series(np.random.randn(10), index=periods)
date_series

2014-08-03    0.469112
2014-08-10   -0.282863
2014-08-17   -1.509059
2014-08-24   -1.135632
2014-08-31    1.212112
2014-09-07   -0.173215
2014-09-14    0.119209
2014-09-21   -1.044236
2014-09-28   -0.861849
2014-10-05   -2.104569
Freq: W-SUN, dtype: float64

In [106]:
subset = date_series[3:7]
subset

2014-08-24   -1.135632
2014-08-31    1.212112
2014-09-07   -0.173215
2014-09-14    0.119209
Freq: W-SUN, dtype: float64

In [114]:
s2 = pd.Series([10, 100, 1000, 10000], index=subset.index)
s2

2014-08-24       10
2014-08-31      100
2014-09-07     1000
2014-09-14    10000
Freq: W-SUN, dtype: int64

In [108]:
date_series + s2

2014-08-03             NaN
2014-08-10             NaN
2014-08-17             NaN
2014-08-24        8.864368
2014-08-31      101.212112
2014-09-07      999.826785
2014-09-14    10000.119209
2014-09-21             NaN
2014-09-28             NaN
2014-10-05             NaN
Freq: W-SUN, dtype: float64

In [117]:
date_series['2014-08-10': '2014-09-25']

2014-08-10   -0.282863
2014-08-17   -1.509059
2014-08-24   -1.135632
2014-08-31    1.212112
2014-09-07   -0.173215
2014-09-14    0.119209
2014-09-21   -1.044236
Freq: W-SUN, dtype: float64

In [122]:
s3 = pd.Series(np.random.randn(730)*10, pd.date_range('2013-01-01', '2014-12-31'))
s3

2013-01-01     1.648159
2013-01-02     0.656244
2013-01-03     3.076647
2013-01-04   -18.983579
2013-01-05     6.416055
                ...
2014-12-27     6.707958
2014-12-28    -1.334771
2014-12-29     0.866015
2014-12-30    -0.285670
2014-12-31     8.828240
Freq: D, Length: 730, dtype: float64

In [123]:
s3['2014-05']

2014-05-01     1.462655
2014-05-02    -8.305449
2014-05-03    -4.570714
2014-05-04    15.655806
2014-05-05    11.480324
2014-05-06     4.311862
2014-05-07    10.494212
2014-05-08     3.833088
2014-05-09     5.950129
2014-05-10     6.175094
2014-05-11    -8.112303
2014-05-12   -20.885628
2014-05-13   -13.935002
2014-05-14     9.474223
2014-05-15    -6.712329
2014-05-16    -8.470973
2014-05-17   -11.877849
2014-05-18    -1.837979
2014-05-19   -12.112304
2014-05-20    -8.568333
2014-05-21    -6.005750
2014-05-22     3.614283
2014-05-23     8.873037
2014-05-24     2.664566
2014-05-25    -3.996415
2014-05-26    -2.195824
2014-05-27    11.868597
2014-05-28   -14.371888
2014-05-29     0.537685
2014-05-30    18.726438
2014-05-31   -14.698128
Freq: D, dtype: float64

In [124]:
s3['2014-08':'2014-09']

2014-08-01     8.745707
2014-08-02    -1.122823
2014-08-03   -11.887646
2014-08-04   -26.213766
2014-08-05    -4.416824
                ...
2014-09-26    -3.406652
2014-09-27    -6.597429
2014-09-28     6.654400
2014-09-29     6.060540
2014-09-30   -16.632087
Freq: D, Length: 61, dtype: float64

# Creating time-series data with specific frequencies

In [130]:
np.random.seed(123456)
bymin = pd.Series(np.random.randn(129600),pd.date_range('2014-08-01','2014-10-29 23:59',freq='T'))

In [136]:
bymin

2014-08-01 00:00:00    0.469112
2014-08-01 00:01:00   -0.282863
2014-08-01 00:02:00   -1.509059
2014-08-01 00:03:00   -1.135632
2014-08-01 00:04:00    1.212112
                         ...
2014-10-29 23:55:00   -0.563029
2014-10-29 23:56:00    1.180497
2014-10-29 23:57:00    1.850604
2014-10-29 23:58:00   -1.589660
2014-10-29 23:59:00    0.266429
Freq: T, Length: 129600, dtype: float64

In [128]:
90*24*60

129600

In [132]:
bymin['2014-08-01 00:02':'2014-08-01 00:10']

2014-08-01 00:02:00   -1.509059
2014-08-01 00:03:00   -1.135632
2014-08-01 00:04:00    1.212112
2014-08-01 00:05:00   -0.173215
2014-08-01 00:06:00    0.119209
2014-08-01 00:07:00   -1.044236
2014-08-01 00:08:00   -0.861849
2014-08-01 00:09:00   -2.104569
2014-08-01 00:10:00   -0.494929
Freq: T, dtype: float64

In [138]:
days = pd.date_range('2023-01-1', '2023-02-18', freq='B')
for d in days : print (d)

2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-26 00:00:00
2023-01-27 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00
2023-02-13 00:00:00
2023-02-14 00:00:00
2023-02-15 00:00:00
2023-02-16 00:00:00
2023-02-17 00:00:00

In [139]:
# periods will use the frequency as the increment
pd.date_range('2014-08-01 12:10:01', freq='S', periods=10)

DatetimeIndex(['2014-08-01 12:10:01', '2014-08-01 12:10:02',
               '2014-08-01 12:10:03', '2014-08-01 12:10:04',
               '2014-08-01 12:10:05', '2014-08-01 12:10:06',
               '2014-08-01 12:10:07', '2014-08-01 12:10:08',
               '2014-08-01 12:10:09', '2014-08-01 12:10:10'],
              dtype='datetime64[ns]', freq='S')

# Calculating new dates using offsets

In [140]:
# get all business days between and inclusive of these two dates
dti = pd.date_range('2014-08-29', '2014-09-05', freq='B')
dti.values

array(['2014-08-29T00:00:00.000000000', '2014-09-01T00:00:00.000000000',
       '2014-09-02T00:00:00.000000000', '2014-09-03T00:00:00.000000000',
       '2014-09-04T00:00:00.000000000', '2014-09-05T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [141]:
dti.freq

In [142]:
# calculate a one day offset from 2014-8-29
d = datetime(2014, 8, 29)


do = pd.DateOffset(days = 1)
d + do

Timestamp('2014-08-30 00:00:00')

In [151]:
d = datetime(2014, 8, 25)


do = pd.DateOffset(n=3)
d + do

Timestamp('2014-08-28 00:00:00')

In [150]:
d = datetime(2014, 8, 25)


do = pd.offsets.MonthEnd()
d + do

Timestamp('2014-08-31 00:00:00')